@import '../../styles/variables';
@import '../../styles/mixins';

.chat-panel {
  @include flex-column;
  width: 100%;
  height: 100%;
  background: $color-bg-white;
  padding: $spacing-lg;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-lg;
  }

  &__title {
    font-size: $font-xl;
    font-weight: $font-semibold;
    color: $color-text-primary;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: $color-bg-white;
    border-radius: $radius-xl;
    overflow: visible;
    min-height: 0;
    position: relative;
  }

  &__widget {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    & > * {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
